# ignore building directories
.idea/
.vscode/settings.json
build/
dist/
src/AutoV/Spec/Parser/.antlr/
scripts/AsmGen/_build/
scripts/AsmGen/asmgen.native
*.vo
*.vok
*.vos
*.aux
*.glob
*.conf
*.d
*.v~
*.o
*.so
*.log
llvm
docs/html/*
docs/latex/*
test/**/coq/
.history/
**/z3_queries/
.cache/*
